<div class="my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div *ngIf="bloque == 1" class="card ">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12">
                                <div >
                                    <h5 > Reiniciar Contraseña</h5>
                                    <hr />
                                </div>
                            </div>
                        </div>
  
                        <div class="p-2">
                            <form class="form-horizontal"  #datosForm="ngForm">
                                <label  class="form-label">Correo eléctronico:</label>
                                <input type="email" class="form-control "
                                [(ngModel)]="datos.correo"  #correo="ngModel" required email
                                 id="correo" name="correo"
                                 [ngClass]="{'is-invalid': !correo.valid && (correo.dirty || correo.touched)}"
                                 >
  
                                 <div style="color:red;" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                                  <div *ngIf="correo.errors?.['required']">
                                    El correo electronico es requerido
                                  </div>
  
                                  <div *ngIf="correo.errors?.['email']">
                                    El correo electronico no tiene un formato valido
                                  </div>
                                </div>
  
                                <div class="text-end mb-3 my-3">
  
                                    <button id="btnReiniciar"
                                    [disabled]="!datosForm.form.valid || cargando"
                                     (click)="fnGenerarCodigo()" class="btn btn-primary " type="button">
                                     <span *ngIf="cargando" class="spinner-border spinner-border-sm"> </span>
                                     Reiniciar
                                    </button>
                                </div>
                                <div class="mb-1">
                                    ¿Has recordado la contraseña?
                                    <a  [routerLink]="['/login']" class="fw-medium text-primary"> Inicia sesión</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
  
                <div  *ngIf="bloque == 2" class="card ">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12">
                                <div >
                                    <h5>Ingresa el código de seguridad</h5>
                                    <hr />
                                    <span>Comprueba si recibiste un correo electrónico con tu código de 4 dígitos.</span>
                                    <p>Enviamos el código a: <span style="font-weight: bold;">{{datos.correo}}</span></p>
                                </div>
                            </div>
                        </div>
  
                        <form class="form-horizontal"  #datosForm="ngForm">
                            <label class="form-label">Codigo de Seguridad:</label>
                            <input type="text" class="form-control " id="codigo" name="codigo" maxlength="4"
                            [(ngModel)]="datos.codigo"  #codigo="ngModel" required
                            (keypress)="validateFormat($event)" onpaste="return false" minlength="4"
                            [ngClass]="{'is-invalid': !codigo.valid && (codigo.dirty || codigo.touched)}"
                            >
                            <div style="color:red;" *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
                              <div *ngIf="codigo.errors?.['required']">
                                El codigo de seguridad requerido
                              </div>
                              <div *ngIf="codigo.errors?.['minlength']">
                                 Debe tener 4 digitos
                              </div>
                            </div>
  
                            <div class="text-end mb-3 my-3">
                                <button  [disabled]="!datosForm.form.valid || cargando"
                                (click)="fnValidarCodigo()"
                                id="btnValidarCodigo"  class="btn btn-primary" type="button">
                                <span *ngIf="cargando" class="spinner-border spinner-border-sm"> </span>
                                Continuar
                              </button>
                            </div>
                            <div class="mb-1">
                                <a href="javascript:void(0)" (click)="fnRedirect(1)" class="fw-medium text-primary">¿No recibiste el código?</a>
                            </div>
                        </form>
                    </div>
                </div>
  
                <div *ngIf="bloque == 3" class="card ">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12">
                                <div >
                                    <h5>Elige una contraseña nueva</h5>
                                    <hr />
                                    <span style="text-align: justify">Crea una contraseña nueva de seis caracteres como mínimo. Una contraseña segura tiene una combinación de letras, números y signos de puntuación.</span>
                                </div>
                            </div>
                        </div>
  
                        <form class="form-horizontal mt-4" #datosForm="ngForm">
                            <label  class="form-label">Contraseña nueva</label>
                            <input type="password" class="form-control " id="password" name="password"
                            [(ngModel)]="datos.password"  #password="ngModel" required minlength="3">
  
                            <div style="color:red;" *ngIf="password.invalid && (password.dirty || password.touched)">
                              <div *ngIf="password.errors?.['required']">
                                El campo de la contraseña requerido
                              </div>
                              <div *ngIf="password.errors?.['minlength']">
                                 Debe tener 4 digitos
                              </div>
                            </div>
  
                            <div class="text-end mb-3 my-3">
                                <button  [disabled]="!datosForm.form.valid || cargando" (click)="fnValidarConfirmacion()" id="btnValidarCodigo"
                                class="btn btn-primary" type="button">
                                <span *ngIf="cargando" class="spinner-border spinner-border-sm"> </span>
                                Confirmar
                              </button>
                            </div>
                            <p class="text-center">¿Ya tienes una cuenta? <a data-toggle="tab" [routerLink]="['/login']">Iniciar sesión</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  